version: "3.8"

services:
  proxy:
    # networks:
    # - apple
    # The official v2 Traefik docker image
    image: traefik:v2.10
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker --entryPoints.web.address=:8000
    ports:
      # The HTTP port
      - "8000:8000"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
  whoami:
    # networks:
    #   # - dev
    #   # A container that exposes an API to show its IP address
    image: traefik/whoami
    labels:
      # - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`)"
      - "traefik.http.routers.whoami.rule=PathPrefix(`/whoami`)"

  auth-build:
    hostname: auth
    container_name: auth
    # networks:
    # - dev
    image: golang:1.21
    command: /go/build-run.sh svc-auth/cmd/main.go
    labels:
      # - "traefik.http.routers.whoami.rule=Host(`auth.docker.localhost`)"
      - "traefik.http.routers.auth.rule=PathPrefix(`/rest/v1/auth`)"
    ports:
      - 8010:8010
    # links:
    #   - "localstack:localstack"
    depends_on:
      - localstack
    # build:
    # context: ./be
    # dockerfile: .deploy/Dockerfile
    # args:
    # SERVICE: svc-auth
    environment:
      - JWT_KEYFILE=/app/jwt.key
      - JWT_CRTFILE=/app/jwt.crt
      - AWS_ACCESS_KEY_ID=AAA
      - WAS_SECRET_ACCESS_KEY=BBB
    volumes:
      - ./build-run.sh:/go/build-run.sh
      - ./be:/go/src/be
      # - ./jwt.crt:/go/src/be/jwt.crt
      # - ./jwt.key:/go/src/be/jwt.key
      # - ~/.aws:/root/.aws/
      # - ./.deploy/svc-auth/config.yaml:/go/src/be

  people:
    hostname: people
    container_name: people
    image: svc/people
    labels:
      - "traefik.http.routers.people.rule=PathPrefix(`/rest/v1/people`)"
    ports:
      - 8020:8020
    depends_on:
      - mongo
    build:
      context: ./be
      dockerfile: .deploy/Dockerfile
      args:
        MAIN_FILE: svc-people/cmd/main.go
    environment:
      - JWT_CRTFILE=jwt.crt
    volumes:
      - ./be/.deploy/svc-people/config.yaml:/app/config.yaml
      - ./be/jwt.crt:/app/jwt.crt

  auth:
    hostname: auth
    container_name: auth
    image: svc/auth
    labels:
      - "traefik.http.routers.auth.rule=PathPrefix(`/rest/v1/auth`)"
    ports:
      - 8010:8010
    depends_on:
      - localstack
    build:
      context: ./be
      dockerfile: .deploy/Dockerfile
      args:
        MAIN_FILE: svc-auth/cmd/main.go
    environment:
      - JWT_CRTFILE=/app/jwt.crt
      - JWT_KEYFILE=/app/jwt.key
    volumes:
      - ./be/.deploy/svc-auth/config.yaml:/app/config.yaml
      - ./be/jwt.crt:/app/jwt.crt
      - ./be/jwt.key:/app/jwt.key
      - ~/.aws:/root/.aws/

  mongo:
    hostname: mongo
    container_name: mongo
    image: mongo:5.0.22
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_DATABASE=tests
      - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - "27017:27017"
    # volumes:
    # - ./data:/data/db

  localstack:
    hostname: localstack
    # networks:
    #   - dev
    container_name: "localstack-main"
    image: localstack/localstack
    ports:
      - "4566:4566" # LocalStack Gateway
      - "4510-4559:4510-4559" # external services port range
    environment:
      - DEBUG=DEBUG
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./aws:/etc/localstack/init/ready.d/"
      # - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
# networks:
# apple:
# external: true
