version: "3.8"

services:
  # docker run --rm --name jaeger
  #   -e COLLECTOR_ZIPKIN_HOST_PORT=:9411
  #   -p 6831:6831/udp
  #   -p 6832:6832/udp
  #   -p 5778:5778
  #   -p 16686:16686
  #   -p 4317:4317
  #   -p 4318:4318
  #   -p 14250:14250
  #   -p 14268:14268
  #   -p 14269:14269
  #   -p 9411:9411
  #   jaegertracing/all-in-one:1.61.0
  otel:
    hostname: otel
    container_name: otel
    image: jaegertracing/all-in-one:1.61.0
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 4317:4317
      - 4318:4318
      - 14250:14250
      - 14268:14268
      - 14269:14269
      - 9411:9411

  proxy:
    # networks:
    # - apple
    # The official v2 Traefik docker image
    image: traefik:v2.10
    # Enables the web UI and tells Traefik to listen to docker
    # --accesslog=true --log.level=DEBUG
    command: --accesslog=true --api.insecure=true --providers.docker --entryPoints.web.address=:8000
    ports:
      # The HTTP port
      - "8000:8000"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
  whoami:
    # networks:
    #   # - dev
    #   # A container that exposes an API to show its IP address
    image: traefik/whoami
    labels:
      # - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`)"
      - "traefik.http.routers.whoami.rule=PathPrefix(`/whoami`)"

    ports:
      - 6831:6831/udp

  people:
    hostname: people
    container_name: people
    image: local/be/people:latest
    labels:
      - "traefik.http.routers.people.rule=PathPrefix(`/v1/people`)"
    ports:
      - 8020:8020
    depends_on:
      - mongo
    environment:
      - JWT_CRTFILE=jwt.crt
    volumes:
      - ./be/.deploy/svc-people/config.yaml:/app/config.yaml
      - ./be/jwt.crt:/app/jwt.crt

  auth:
    hostname: auth
    container_name: auth
    image: local/be/auth:latest
    labels:
      - "traefik.http.routers.auth.rule=PathPrefix(`/v1/auth`)"
    ports:
      - 8010:8010
    depends_on:
      - localstack
    environment:
      - JWT_CRTFILE=/app/jwt.crt
      - JWT_KEYFILE=/app/jwt.key
    volumes:
      # - ./be/.deploy/svc-auth/config.pg.yaml:/app/config.yaml
      - ./be/.deploy/svc-auth/config.aws.yaml:/app/config.yaml
      - ./be/jwt.crt:/app/jwt.crt
      - ./be/jwt.key:/app/jwt.key
      - ~/.aws:/root/.aws/

  postgres:
    hostname: postgres
    container_name: postgres
    image: postgres
    environment:
      - POSTGRES_PASSWORD=initexample
      - POSTGRES_USER=initexample
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=test
    ports:
      - "5432:5432"
    volumes:
      - ./be/postgres:/docker-entrypoint-initdb.d

  mongo:
    hostname: mongo
    container_name: mongo
    image: mongo:5.0.22
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_DATABASE=tests
      - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - "27017:27017"
    # volumes:
    # - ./data:/data/db

  localstack:
    hostname: localstack
    # networks:
    #   - dev
    container_name: "localstack"
    image: localstack/localstack:3.7
    ports:
      - "4566:4566" # LocalStack Gateway
      - "4510-4559:4510-4559" # external services port range
    # env_file:
    # - .env.localstack
    environment:
      - DEBUG=DEBUG
      - DOCKER_HOST=unix:///var/run/docker.sock
      - SERVICES=s3,dynamodb
      # - TRIES=30
      # - HOSTNAME_EXTERNAL=localstack
      - LOCALSTACK_HOST=localstack
      - LOCALSTACK_API=http://localstack:4566
      # - LOCALSTACK_API=http://localstack:4566
      # - LOCALSTACK_HEALTH_ENDPOINT=http://localstack:4566/health
      - BUCKET_NAMES=test1,test2
      # - AWS_DEFAULT_PROFILE=localstack
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./aws/ready:/etc/localstack/init/ready.d/"
      # - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
  # networks:
  # apple:
  # external: true

  web:
    hostname: web
    container_name: web
    image: svc/web
    labels:
      - "traefik.http.routers.web.rule=PathPrefix(`/`,`/people`,)"
      # - "traefik.http.routers.web.rule=PathPrefixStrip: /rest"
      # - "traefik.http.routers.web.rule=PathPrefix(`/people`)"
      # - "traefik.http.routers.web.replacepathregex.regex=^/app/(.*)"
      # - "traefik.http.routers.web.replacepathregex.replacement=/$$1"
    ports:
      - 9000:8080
    build:
      context: ./ui/web
      dockerfile: .deploy/Dockerfile
    volumes:
      - ./ui/web/.deploy/cfg/config.json:/usr/share/nginx/html/config.json
      # - ./ui/web/.deploy/nginx/prod.conf:/etc/nginx/nginx.conf
      # - ./ui/web/.deploy/nginx/prod.conf:/etc/nginx/conf.d/default.conf
  #     # - ./ui/web/.deploy/cfg/app.config.json:/usr/share/nginx/html/assets/app.config.json
  #     # - ./be/.deploy/svc-auth/config.pg.yaml:/app/config.yaml
  #     # - ./be/.deploy/svc-auth/config.yaml:/app/config.yaml
  #     # - ./be/jwt.crt:/app/jwt.crt
  #     # - ./be/jwt.key:/app/jwt.key
  #     # - ~/.aws:/root/.aws/
