replicaCount: 1

image:
  repository: europe-west4-docker.pkg.dev/bikeareaui/btmt/be/auth
  pullPolicy: Always
  tag: "latest"

ingress:
  enabled: true
  hosts:
    - host: dev-gcp.batamata.org
      paths:
        - path: /rest/v1/auth
          pathType: Prefix
          backend:
            service:
              name: auth
              port:
                name: http

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
